<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
<!--    <link rel="stylesheet" href="../../public/css/ionicons.min.css">-->
</head>
<body>
<section class="home-slider owl-carousel img" style="background-image: url(../../public/images/bg_2.jpg);">
    <div class="slider-item" style="background-image: url(../../public/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="signin">
                    <form action="">
                        <h2>Sign Up</h2>
                        <input type="email" placeholder="Enter Email">
                        <input type="text" placeholder="Enter Username">
                        <input type="password" placeholder="Enter Password">
                        <input type="text" placeholder="Enter Phonenumber">
                        <button class="btnSignUp">Sign Up</button>
                        <br>
                        <button class="btnSWGG">Sign With Google</button>
                        <br>
                        <button class="btnSWFb">Sign With Facebook</button>
                        <div class="bottom-content" style="text-align: center">
                            Back To <a href="../Home/home.html" style="text-decoration: none">Home</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>