<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../Gallery/gallery.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
</head>
<body>
<section class="home-slider owl-carousel img" style="background-image: url(../../public/images/bg_3.jpg);">
    <div class="slider-item" style="background-image: url(../../public/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="signin">
                    <h1>COMING SOON</h1>
                    <div class="bottom-content" style="text-align: center">
                        Back To <a href="../Home/home.html" style="text-decoration: none">Home</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>